#portBackground {
  background-color: pink;
  color:pink;
  padding:40px;
}
.headings{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#banner {
  
  background-color: pink;


}
#couch {
  padding-top: 40px;
}